stages:
  - build
  - deploy
  # - configure

variables:
  TAG_LATEST: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest
  TAG_COMMIT: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:$CI_COMMIT_SHORT_SHA
  APP_NAME: qrowid-user
  PORT_NUMBER: 3503
  DB_NAME: qrowid-user
  DB_USER: postgres
  DB_HOST: 127.0.0.1
  DB_DRIVER: mysql
  DOCKER_NETWORK: qrowid-net
  HOST: http://qrowid-gateway
  K8S_DB_HOST: qrowid-postgres
  K8S_DB_DRIVER: mysql
  K8S_TAG_LATEST: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME-k8s:latest
  K8S_TAG_COMMIT: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME-k8s:$CI_COMMIT_SHORT_SHA
  K8S_YAML: user-deploy.yaml
  K8S_SERVICE_YAML: user-service.yaml
  K8S_DPL_NAME: qrowid-user-dpl
  K8S_NAMESPACE: qrowid-development

k8s_build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo -e "DB_NAME=$DB_NAME \n
      DB_USER=$DB_USER \n
      DB_PASSWORD=$DB_PASSWORD \n
      DB_HOST=$K8S_DB_HOST \n
      DB_DRIVER=$K8S_DB_DRIVER \n
      RELAXED=localhost,api2.qrowid.id,$APP_NAME,$SERVER_USER \n
      TCASHURL=$TCASHURL \n
      TCASHACCOUNT=$TCASHACCOUNT \n
      TCASHSENDER=$TCASHSENDER \n
      TCASHPASS=$TCASHPASS \n
      MIDDLE_URL=$BASE_URL \n
      SMS_APP_ID=$SMS_APP_ID \n
      HOST=$HOST \n
      JWT_SECRET= $JWT_SECRET" >> .env

  script:
    - echo "$CI_BUILD_TOKEN"
  only:
    - dev

deploy_k8s:
  stage: deploy
  script:
    - chmod og= $ID_RSA_K8S
    - ssh -i $ID_RSA_K8S -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP_K8S "cd qrowid-cluster && git checkout main && git pull origin main"
    - ssh -i $ID_RSA_K8S -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP_K8S "cd qrowid-cluster/deployments && kubectl apply -f $K8S_YAML"
    - ssh -i $ID_RSA_K8S -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP_K8S "cd qrowid-cluster/services && kubectl apply -f $K8S_SERVICE_YAML"
    - ssh -i $ID_RSA_K8S -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP_K8S "kubectl rollout restart deployment $K8S_DPL_NAME -n $K8S_NAMESPACE"
  only:
    - dev
