stages:
  - build
  - deploy

variables:
  TAG_LATEST: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest
  TAG_COMMIT: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:$CI_COMMIT_SHORT_SHA
  APP_NAME: qrowid-user
  PORT_NUMBER: 3503
  DB_NAME: qrowid-user
  DB_USER: postgres
  DB_HOST: 127.0.0.1
  DB_DRIVER: mysql
  DOCKER_NETWORK: qrowid-net
  HOST: http://qrowid-gateway
  K8S_DB_HOST: qrowid-postgres
  K8S_DB_DRIVER: mysql
  K8S_TAG_LATEST: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME-k8s:latest
  K8S_TAG_COMMIT: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME-k8s:$CI_COMMIT_SHORT_SHA
  K8S_YAML: user-deploy.yaml
  K8S_SERVICE_YAML: user-service.yaml
  K8S_DPL_NAME: qrowid-user-dpl
  K8S_NAMESPACE: qrowid-development

k8s_build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo -e "DB_NAME=$DB_NAME \nDB_USER=$DB_USER \nDB_PASSWORD=$DB_PASSWORD \nDB_HOST=$K8S_DB_HOST \nDB_DRIVER=$K8S_DB_DRIVER \nRELAXED=localhost,api2.qrowid.id,$APP_NAME,$SERVER_USER \nTCASHURL=$TCASHURL \nTCASHACCOUNT=$TCASHACCOUNT \nTCASHSENDER=$TCASHSENDER \nTCASHPASS=$TCASHPASS \nMIDDLE_URL=$BASE_URL \nSMS_APP_ID=$SMS_APP_ID \nHOST=$HOST \nJWT_SECRET=$JWT_SECRET" >> .env

  script:
    - docker build -t $K8S_TAG_COMMIT -t $K8S_TAG_LATEST .
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker push $K8S_TAG_COMMIT
    - docker push $K8S_TAG_LATEST
  only:
    - dev

deploy_k8s:
  stage: deploy
  script:
    - chmod og= $ID_RSA_K8S
    - ssh -i $ID_RSA_K8S -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP_K8S -p 3022 "cd qrowid-cluster && git checkout dev && git pull origin dev"
    - ssh -i $ID_RSA_K8S -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP_K8S -p 3022 "cd qrowid-cluster/deployments && kubectl apply -f $K8S_YAML"
    - ssh -i $ID_RSA_K8S -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP_K8S -p 3022 "cd qrowid-cluster/services && kubectl apply -f $K8S_SERVICE_YAML"
    - ssh -i $ID_RSA_K8S -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP_K8S -p 3022 "kubectl rollout restart deployment $K8S_DPL_NAME -n $K8S_NAMESPACE"
  only:
    - dev
