stages:
  # - build
  - deploy

variables:
  TAG_LATEST: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest
  TAG_COMMIT: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:$CI_COMMIT_SHORT_SHA
  APP_NAME: qrowid-user
  DB_HOST: node36840-development-qgames.user.cloudjkt01.com
  DB_USER: root
  DB_PASS: SMIher97193
  DB_PORT: 3306
  DB_NAME: qgames_users_db
  MONGODB_URI: mongodb://admin:1NLxLC1Bk5@node38499-development-qgames.user.cloudjkt01.com:27017/
  MONGODB_DB: db_notifications
  MONGODB_COLLECTION: tbl_fcm_users
  APP_PORT: 3001
  VENDOR_QONTAK: https://service-chat.qontak.com/api/open/v1/broadcasts/whatsapp/direct
  MESSAGE_TEMPLATE: cdeb3735-eb91-4b42-9bcc-eacad2345468
  CHANNEL_ID: 2e2bb423-41a7-4ee2-910e-09b2dc9289a2
  TOKEN_QONTAK: Bearer T85huFWsKZ8SDxGtYONcFNH-gqJ8uiVJ7m4kIUR4Bk0
  JWT_SECRET: eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTY4OTQzODgzMSwiaWF0IjoxNjg5NDM4ODMxfQ.6L9xw4ZzVcVk1OESGBhl4qbdAt_Oq9W-udijBT_DZfQ
  TOTAL_DEVICE: 2
  NUMBER_FAKE: 089668997497
  OTP_FAKE: 300823
  DOCKER_NETWORK: qrowid-net
  K8S_TAG_LATEST: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME-k8s:latest
  K8S_TAG_COMMIT: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME-k8s:$CI_COMMIT_SHORT_SHA
  K8S_YAML: user-deploy.yaml
  K8S_SERVICE_YAML: user-service.yaml
  K8S_DPL_NAME: qrowid-user-dpl
  K8S_NAMESPACE: qrowid-development

# k8s_build:
#   stage: build
#   image: docker:20.10-dind
#   services:
#     - docker:20.10-dind
#   before_script:
#     - echo -e "DB_HOST=$DB_HOST \nDB_USER=$DB_USER \nDB_PASS=$DB_PASS \nDB_PORT=$DB_PORT \nDB_NAME=$DB_NAME \nMONGODB_URI=$MONGODB_URI \nMONGODB_DB=$MONGODB_DB \nMONGODB_COLLECTION=$MONGODB_COLLECTION \nAPP_PORT=$APP_PORT \nVENDOR_QONTAK=$VENDOR_QONTAK \nMESSAGE_TEMPLATE=$MESSAGE_TEMPLATE \nCHANNEL_ID=$CHANNEL_ID \nTOKEN_QONTAK=$TOKEN_QONTAK \nTOTAL_DEVICE=$TOTAL_DEVICE \nNUMBER_FAKE=$NUMBER_FAKE \nOTP_FAKE=$OTP_FAKE \nJWT_SECRET=$JWT_SECRET" >> .env

#   script:
#     - docker build -t $K8S_TAG_COMMIT -t $K8S_TAG_LATEST .
#     - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
#     - docker push $K8S_TAG_COMMIT
#     - docker push $K8S_TAG_LATEST
#   only:
#     - dev 

# deploy_k8s:
#   stage: deploy
#   image: dtzar/helm-kubectl
#   script: |-
#     kubectl config set-cluster k8s --server="$K8S_SERVER"
#     kubectl config set clusters.k8s.certificate-authority-data "$K8S_CA_B64"
#     kubectl config set-credentials gitlab --token="$K8S_TOKEN"
#     kubectl config set-context default --cluster=k8s --user=gitlab
#     kubectl config use-context default
#     ls
#     cd qgrowid-cluster && git checkout dev && git pull origin dev
#     cd deployments && kubectl apply -f $K8S_YAML && cd ..
#     cd services && kubectl apply -f $K8S_SERVICE_YAML && cd ..
#     kubectl rollout restart deployment $K8S_DPL_NAME -n $K8S_NAMESPACE"
#   only:
#     - dev

deploy_k8s:
  stage: deploy
  script:
    - echo "$K8S_CA_B64" | base64 -d > kubeconfig.yaml
    - export KUBECONFIG=$PWD/kubeconfig.yaml
    - kubectl config use-context default
    - cd qgrowid-cluster && git checkout dev && git pull origin dev
    - cd deployments && kubectl apply -f $K8S_YAML && cd ..
    - cd services && kubectl apply -f $K8S_SERVICE_YAML && cd ..
    - kubectl rollout restart deployment $K8S_DPL_NAME -n $K8S_NAMESPACE
  only:
    - dev